$color-white: #ffffff;
$title-color: #1f4eb2;
$gray-color: #717070;
$card-title: #677d7d;
$card-bg: linear-gradient(131deg, #1f4eb2 -3%, #0b8b9e 104%);
$paragraph: #818181;
$font-16px: 16px;
$side-wid: 80%;
